body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #121212;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 5rem;
            flex-direction: column;
            transition: background-color 0.3s, color 0.3s;
            position: relative;
        }
        .toggle-button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            color: white;
            position: absolute;
            top: 10px;
            right: 20px;
        }
        .social-links {
            position: absolute;
            bottom: 10px;
            text-align: center;
            font-size: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .social-links a {
            color: white;
            text-decoration: none;
        }
        .light-mode .social-links a {
            color: black;
        }


.markdown-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Light Mode */
.light-mode {
    background-color: white;
    color: black;
}

.light-mode .markdown-content {
    background-color: #f0f0f0;
    color: black;
}
